<!DOCTYPE html>
<html>
<head>
  <title>Add Anime</title>
</head>
<body>
<h1>Add Anime</h1>
<form action="/admin/add" method="POST" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="Title" required><br>
  <input type="file" name="video"><br>
  <input type="text" name="youtube" placeholder="YouTube URL"><br>
  <button type="submit">Add</button>
</form>
<a href="/admin">Back</a>
</body>
</html>
