<!DOCTYPE html>
<html>
<head>
  <title>Edit Anime</title>
</head>
<body>
<h1>Edit Anime</h1>
<form action="/admin/edit/<%= anime.id %>" method="POST" enctype="multipart/form-data">
  <input type="text" name="title" value="<%= anime.title %>" required><br>
  <input type="file" name="video"><br>
  <input type="text" name="youtube" placeholder="YouTube URL" value="<%= anime.video && anime.video.startsWith('http') ? anime.video : '' %>"><br>
  <button type="submit">Save</button>
</form>
<a href="/admin">Back</a>
</body>
</html>
